{% extends 'base.html' %}
{% block title %}Galeri - PKBM{% endblock %}
{% load static %}

{% block content %}

<!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Galeri</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Galeri</li>
          </ol>
        </nav>
      </div>
    </div>

<!-- templates/pendaftaran/galeri_per_bulan.html -->
<section class="section py-5">
  <div class="container" data-aos="fade-up">
    <h2 class="text-center mb-5">Galeri Kegiatan PKBM As-Syari'yah</h2>

    {% for bulan, foto_list in galeri_per_bulan.items %}
      {% if foto_list %}
      <h4 class="text-dark mt-5">{{ bulan }}</h4>
      <div class="row g-3">
        {% for foto in foto_list %}
        <div class="col-6 col-md-3">
          <a href="{{ foto.foto.url }}" class="glightbox" data-gallery="gallery-{{ bulan }}">
            <img src="{{ foto.foto.url }}" class="img-fluid rounded shadow-sm" alt="{{ foto.judul }}">
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% endblock %}